@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<p>
    Configure your new Azure App Service
    If you're not already signed in, sign into Visual Studio with the account you're using with Microsoft Learn.

    Enter the required information about your App Service plan.

</p>